#header {
  position: sticky;
  top: 0;
  width: 100%;
  height: 6.4rem;
  background: var(--black-2);

  > .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  > .container .actions {
    display: flex;
    align-items: center;
  }

  > .container .actions .link {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    color: var(--gray-1);
    border: 1px solid var(--gray-1);
    font-size: 1.4rem;
    font-weight: 600;
    transition: all linear 0.3s;

    &.active,
    &:hover {
      background-color: var(--white);
      border: 1px solid var(--white);
      color: var(--black-2);
    }

    svg {
      margin-right: 0.8rem;
      width: 1.6rem;
      height: 1.6rem;
    }

    span {
      display: none;

      @include media("md") {
        display: block;
      }
    }
  }

  > .container .actions .link-home {
    width: auto;
    padding: 1.2rem 1.2rem 1.2rem 1.6rem;
    border-radius: 1rem 0 0 1rem;

    @include media("md") {
      width: 9.9rem;
    }
  }

  > .container .actions .link-favorite {
    width: auto;
    padding: 1.2rem 1.2rem 1.2rem 2.2rem;
    border-radius: 0 1rem 1rem 0;

    @include media("md") {
      width: 14.9rem;
    }
  }
}
